<div class="panel panel-primary" *ngIf="project">
    <div class="panel-heading">
        {{ pageTitle + ": " + project.customerName | uppercase }}
    </div>

    <div class="panel-body">
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="row">
            <div class="col-md-4">Project Id: </div>
            <div class="col-md-6">{{ project.projectId }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">numberOfString: </div>
            <div class="col-md-6">{{ project.numberOfString }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">numberOfModuleInverter1String1: </div>
            <div class="col-md-6">{{ project.numberOfModuleInverter1String1 }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">numberOfModuleInverter1String2: </div>
            <div class="col-md-6">{{ project.numberOfModuleInverter1String2 }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">numberOfModuleInverter1String3: </div>
            <div class="col-md-6">{{ project.numberOfModuleInverter1String3 }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">  spaceAvailable</div>
            <div class="col-md-6">{{ project.spaceAvailable}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">mainServiceBreakerSize: </div>
            <div class="col-md-6">{{ project.mainServiceBreakerSize }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">unFusedAcDisconnectAmpRating: </div>
            <div class="col-md-6">{{ project.unFusedAcDisconnectAmpRating }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">acOutputVoltage: </div>
            <div class="col-md-6">{{ project.acOutputVoltage }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">fusedAcDisconnectAmpRating: </div>
            <div class="col-md-6">{{ project.fusedAcDisconnectAmpRating }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">fuseSize: </div>
            <div class="col-md-6">{{ project.fuseSize }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">inverterMaxDcVoltage: </div>
            <div class="col-md-6">{{ project.inverterMaxDcVoltage }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">nominalDcInputVoltage: </div>
            <div class="col-md-6">{{ project.nominalDcInputVoltage }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">ratedVoltage: </div>
            <div class="col-md-6">{{ project.ratedVoltage }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">inverter1Type: </div>
            <div class="col-md-6">{{ project.inverter1Type }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">maxPowerOutput: </div>
            <div class="col-md-6">{{ project.maxPowerOutput }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">inverterMaxPowerOutput: </div>
            <div class="col-md-6">{{ project.inverterMaxPowerOutput }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">moduleSpec: </div>
            <div class="col-md-6">{{ project.moduleSpec }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">inverterAcOutputVoltage: </div>
            <div class="col-md-6">{{ project.inverterAcOutputVoltage }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">maxAcCurrentOutput: </div>
            <div class="col-md-6">{{ project.maxAcCurrentOutput }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">cec: </div>
            <div class="col-md-6">{{ project.cec }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">optimizerMaxDcCurrentInput: </div>
            <div class="col-md-6">{{ project.optimizerMaxDcCurrentInput }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">optimizerMaxDcCurrentOutput: </div>
            <div class="col-md-6">{{ project.optimizerMaxDcCurrentOutput }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">optimizerMaxPowerOutput: </div>
            <div class="col-md-6">{{ project.optimizerMaxPowerOutput }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">optimizerMaxDcVoltage: </div>
            <div class="col-md-6">{{ project.optimizerMaxDcVoltage }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">optimizerModel: </div>
            <div class="col-md-6">{{ project.optimizerModel }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">panelMaxSystemVoltage: </div>
            <div class="col-md-6">{{ project.panelMaxSystemVoltage }}</div>
        </div>
        














        <div class="row">
            <div class="col-md-4">Created Date: </div>
            <div class="col-md-6">{{ project.date | date}}</div>
        </div>
        
        
    </div>

    <div class="panel-footer">
        <a class="btn btn-primary" (click)="onBack()" style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px" [routerLink]="['/projects', project.id, 'edit']">
            Edit
        </a>
       
    </div>
</div>