<div class="panel panel-primary" *ngIf="project">
    <div class="panel-heading">
        {{ pageTitle + ": " + project.customerName | uppercase }}
    </div>

    <div class="panel-body">
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="row">
            <div class="col-md-2">Project Id: </div>
            <div class="col-md-10">{{ project.projectId }}</div>
        </div>
        
        <div class="row">
            <div class="col-md-2">Created Date: </div>
            <div class="col-md-10">{{ project.date | date}}</div>
        </div>
        
        
    </div>

    <div class="panel-footer">
        <a class="btn btn-primary" (click)="onBack()" style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px" [routerLink]="['/projects', project.id, 'edit']">
            Edit
        </a>
       
    </div>
</div>