<div class="panel-body">
  <form class="form-horizontal" novalidate #projectForm="ngForm">
    <fieldset>
      <legend>Basic Project Information</legend>

{{project | json}}
      <!-- Select Inverter Start-->
      <div class="form-group" [ngClass]="{'has-error': (InverterId.touched || InverterId.dirty) && !InverterId.valid }">
        <label class="col-md-2 control-label" for="InverterId">Select Inverter</label>
        <div class="col-sm-8 col-md-4">
          <select id="InverterId" #InverterId="ngModel" class="hideLabel form-control" [(ngModel)]="inverterId" name="InverterId" (change)="selectInverter();">
            <!-- <option selected="" value=""></option> -->
            <option [ngValue]="k.id" *ngFor="let k of inverterList">
              {{k.inverterType}}
            </option>
          </select>
        </div>
      </div>
      <!-- Select Inverter End -->
      <!-- Select Panel Start-->
      <div class="form-group" [ngClass]="{'has-error': (PanelId.touched || PanelId.dirty) && !PanelId.valid }">
        <label class="col-md-2 control-label" for="PanelId">Select Panel</label>
        <div class="col-sm-8 col-md-4">
          <select id="PanelId" #PanelId="ngModel" class="hideLabel form-control" [(ngModel)]="panelId" name="PanelId" (change)="selectPanel();">
            <!-- <option selected="" value=""></option> -->
            <option [ngValue]="k.id" *ngFor="let k of panelList">
              {{k.panelType}}
            </option>
          </select>
        </div>
      </div>
      <!-- Select Panel End -->
      <!-- ======================================================= -->
      <!-- Optimizer Model-->
      <!-- ======================================================= -->
      <div class="form-group">
        <label class="col-md-2 control-label"  for="optimizerModelId">Optimizer Model</label>
        <div class="col-sm-8 col-md-4">
              <select id="OptimizerId" #OptimizerId="ngModel" class="hideLabel form-control" [(ngModel)]="optimizerId" name="OptimizerId" (change)="selectOptimizer();">
                <!-- <option selected="" value=""></option> -->
            <option [ngValue]="k.id" *ngFor="let k of optimizerList">
              {{k.optimizerModel}}
            </option>

          </select>
        </div>
      </div>
      <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
    </fieldset>
  </form>
</div>